.cards{
    border-radius: 20px 20px;
    background-color: blue;
    color: red;
     width: 300px;
     margin-top: 50px;
     text-align: center ;
     cursor: grab;
    height: ;
}
.imagee{
    border-radius: 20px 20px;
}
.acces{
    margin-top: 1px;
}
.show{
    display: block;
}
.none{
    display: none;
}
